
:root{
    --main-clr:#554994;
  }
  
.input-area{
    width: 90%;
}
.box__input{
 padding: 10px 15px;
 font-size: 25px;
 transition: .2s all;
 box-shadow: inset 0 0 5px black;
}
.box__input:focus{
 outline: none;
 box-shadow:  0  0 10px 1000px  #16112fbf;
}

.go-btn{
    width: 50px;
    height: 50px;
    margin: 12px;
    right: 0;
    font-size: 15px;
    transition:  .2 all;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.304);
    background-color: var(--main-clr) ;
}
.go-btn:hover{
    background-color: #221c3c !important;
}
.go-btn:active{
    transform: scale(0.8);
}

.todos{
    border-radius: 5px;
    width: 70%;
    padding: 15px;
}
.single-todos{
 padding: 18px ;
 width: 45%;
 font-size: 1.2rem;
 margin: 10px;
 color: #fff;
 background: #221c3c;
}
.bx-tada-hover{
    cursor: pointer;
}
.single-todo-text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}
.todo-icons i{
    font-size: 1.25rem;
    transition: .2s all;
}
.todo-icons i:hover{
    background: #fff;
    color:#554994;
}
@media (max-width: 800px) {
    .todos{
        width: 100%;
    }
    .single-todos{
        width: 100%;
    }
  }
  